@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  width: 100% !important;
  font-size: 16px !important;
}

.readonly-date-range {
  pointer-events: none;
  cursor: default;
}

/* Hide scrollbar for Webkit browsers (Chrome, Edge, Safari) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

/* Ensure scrollable functionality remains */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE 10+ */
  overflow-y: auto;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* Narrow scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Transparent track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Light gray scrollbar */
  border-radius: 10px; /* Rounded scrollbar */
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent; /* Gray thumb on transparent track */
}

.pawprint-background {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: -10;
}

.pawprint {
  opacity: 0.8;
  transition: transform 0.3s ease;
}

.separator {
  width: 1px;
  background-color: #ccc;
  height: 100%;
}

@keyframes breathing {

  0%,
  100% {
    box-shadow: 0 0 0px rgba(245, 158, 11, 0.3);
    /* amber-500 */
  }

  50% {
    box-shadow: 0 0 15px rgba(245, 158, 11, 0.8);
  }
}

.animate-breathing {
  animation: breathing 3s ease-in-out 5;
  /* Runs for 3s, repeats 5 times */
}